@page "/"
@rendermode InteractiveServer
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using System.Threading
@using System.Net.Http.Json
@attribute [StreamRendering]
@using Blazored.TextEditor



<style type="text/css">
    .mud-table-head .header-centered th {
        text-align: center;
        font-size: 1.2em;
    }

   .mud-table-foot .bold-text .mud-table-cell {
       font-weight: 500;
   }
</style>


<PageTitle>Home</PageTitle>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
<DataAnnotationsValidator/>
<MudGrid>
    <MudItem xs="12" >
        <MudCard>
            <MudCardContent>
                <MudGrid>
                      <MudItem xs="12" sm="6" md="3">
        <MudAutocomplete T="string" Label="رقم الفاتورة" @bind-Value="value2" SearchFunc="@Search2"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                         CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab"
                         AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
    </MudItem>
     <MudItem xs="12" sm="6" md="3">
<MudDatePicker Label="تاريخ الفاتورة" @bind-Date="_date" DateFormat="dd.MM.yyyy" />
</MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudAutocomplete T="string" Label="نوع الفاتورة" @bind-Value="value1" SearchFunc="@Search1"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                         CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab" />
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
 <MudAutocomplete T="string" Label="طريقة الدفع" @bind-Value="value1" SearchFunc="@Search1"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                         CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab" />
</MudItem>
                      <MudItem xs="12" sm="6" md="3">
      <MudTextField T="string" Label="الصندوق/البنك" Required="true" RequiredError="User name is required!" />
    </MudItem>
     <MudItem xs="12" sm="6" md="3">
 <MudTextField T="string" Label="اسم العميل" Required="true" RequiredError="User name is required!" />
</MudItem>
    <MudItem xs="12" sm="6" md="3">
       <MudTextField T="string" Label="اسم فرع العميل" Required="true" RequiredError="User name is required!" />
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
 <MudAutocomplete T="string" Label="مركز التكلفة" @bind-Value="value1" SearchFunc="@Search1"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                         CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab" />
</MudItem>

                    <MudItem xs="12" sm="6" md="3">
      <MudTextField T="string" Label="اسم المندوب" Required="true" RequiredError="User name is required!" />
    </MudItem>
     <MudItem xs="12" sm="6" md="3">
 <MudTextField T="string" Label="رقم فاتورة المندوب" Required="true" RequiredError="User name is required!" />
</MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudDatePicker Label="تاريخ فاتورة المندوب" @bind-Date="_date" DateFormat="dd.MM.yyyy" />
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
 <MudTextField T="string" Label="اسم السائق" Required="true" RequiredError="User name is required!" />
</MudItem>
  <MudItem xs="12" sm="6" md="3">
 <MudAutocomplete T="string" Label="سعر الفاتورة" @bind-Value="value1" SearchFunc="@Search1"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                         CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab" />
</MudItem>
  <MudItem xs="12" sm="6" md="3">
    <MudGrid>
        <MudItem md="6">
 <MudAutocomplete T="string" Label="العملة / سعر التحويل" @bind-Value="value1" SearchFunc="@Search1"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                         CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab" />
        </MudItem>
        <MudItem md="6">
            <MudTextField T="string" ReadOnly  Disabled="true" Variant="Variant.Outlined" Placeholder="0"/>
        </MudItem>
    </MudGrid>
</MudItem>
    <MudItem xs="12" sm="6" md="3">
         <MudButton FullWidth ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" 
             >بيانات اضافية</MudButton>
</MudItem>
  <MudItem xs="12" sm="6" md="3">
 <MudAutocomplete T="string" Label="خيارات الفاتورة" @bind-Value="value1" SearchFunc="@Search1"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                         CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab" 
                         
                         />
</MudItem>
</MudGrid>
<hr />
                <MudGrid >
                    <MudItem md="12" Class="d-flex justify-content-center gap-2">
                    @* <MudItem md="3">
                      <MudTextField T="string" ReadOnly  Disabled="true" Variant="Variant.Filled" Class="unitsColor" Placeholder="710 وحدة معدلة"/>
                    </MudItem> *@
                            <MudItem md="3">
                                <MudPaper Class="pa-3 text-center"
                                          Style="background-color:#66b2b2; color:white; font-weight:bold">
                                  710 وحدة معدلة
                                </MudPaper>
                            </MudItem>
                    @* <MudItem md="3">
                      <MudTextField T="string" ReadOnly  Disabled="true" Variant="Variant.Filled" Class="sentUnits" Placeholder="(0) - مبسطة - غير مرسلة"/>
                    </MudItem> *@
                            <MudItem md="3">
                                <MudPaper Class="pa-3 text-center"
                                          Style="background-color:#2f6f78; color:white; font-weight:bold">
                                   (0) - مبسطة - غير مرسلة
                                </MudPaper>
                            </MudItem>
                    </MudItem>
                     <MudItem md="12">
                        <div class="d-flex justify-content-center gap-2">
<MudCheckBox @bind-Value="Basic_CheckBox1" Color="Color.Primary"  Label="عرض الخصم"></MudCheckBox>
<MudCheckBox @bind-Value="Basic_CheckBox2" Color="Color.Primary"  Label="عرض الضريبة"></MudCheckBox>
                        </div>
                    </MudItem>
                </MudGrid>
                <div style="overflow:auto;">
                        @* table *@
                        @if (forecasts == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else
                        {
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>م</th>
                                        <th aria-label="Temperature in Celsius">اسم الصنف</th>
                                        <th aria-label="Temperature in Fahrenheit">المستودع</th>
                                        <th>الوحدة</th>
                                        <th>البيان</th>
                                        <th aria-label="Temperature in Celsius">الكمية</th>
                                        <th aria-label="Temperature in Fahrenheit">كمية البونص</th>
                                        <th>سعر الوحدة</th>
                                        <th>الخصم</th>
                                        <th aria-label="Temperature in Celsius">الضريبة</th>
                                        <th aria-label="Temperature in Fahrenheit">السعر الصافي</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var forecast in forecasts)
                                    {
                                        <tr>
                                            <td>1</td>
                                            <td>صنف 25</td>
                                            <td>المستودع الرئيسي</td>
                                            <td>وحدة معدلة 710</td>
                                            <td>@forecast.Summary</td>
                                            <td>1</td>
                                            <td>0</td>
                                            <td>100</td>
                                            <td>0</td>
                                            <td>15.00</td>
                                            <td>115.00</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                </div>
             


@*last section*@
                    <div class="lastSection">
                        <MudGrid Class="lastGrid">
                            <MudItem md="4">
                              


                                    <MudGrid>

                                        <!-- المجموع -->
                                        <MudItem xs="12">
                                            <MudGrid AlignItems="Center">
                                                <MudItem xs="4" Class="d-flex ">
                                                    <MudText>المجموع</MudText>
                                                </MudItem>
                                                <MudItem xs="8">
                                                    <MudTextField @bind-Value="Total"
                                                                  Variant="Variant.Outlined"
                                                                  ReadOnly="true" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>

                                        <!-- اجمالي الخصومات -->
                                        <MudItem xs="12">
                                            <MudGrid AlignItems="Center">
                                                <MudItem xs="4" Class="d-flex ">
                                                    <MudText>إجمالي الخصومات</MudText>
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudTextField @bind-Value="DiscountPercent"
                                                                  Variant="Variant.Outlined"
                                                                  Adornment="Adornment.Start"
                                                                  AdornmentText="%" />
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudTextField @bind-Value="DiscountValue"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>

                                        <!-- اجمالي الخصومات الاخرى -->
                                        <MudItem xs="12">
                                            <MudGrid AlignItems="Center">
                                                <MudItem xs="4" Class="d-flex ">
                                                    <MudText>إجمالي الخصومات الأخرى</MudText>
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudTextField @bind-Value="OtherDiscountPercent"
                                                                  Variant="Variant.Outlined"
                                                                  Adornment="Adornment.Start"
                                                                  AdornmentText="%" />
                                                </MudItem>
                                                <MudItem xs="4">
                                                    <MudTextField @bind-Value="OtherDiscountValue"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>

                                        <!-- محفظة السابق -->
                                        <MudItem xs="12">
                                            <MudGrid AlignItems="Center">
                                                <MudItem xs="4" Class="d-flex ">
                                                    <MudText>محفظة السابق</MudText>
                                                </MudItem>
                                                <MudItem xs="8">
                                                    <MudTextField @bind-Value="PreviousWallet"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>

                                        <!-- اجمالي الضرائب -->
                                        <MudItem xs="12">
                                            <MudGrid AlignItems="Center">
                                                <MudItem xs="4" Class="d-flex ">
                                                    <MudText>إجمالي الضرائب</MudText>
                                                </MudItem>
                                                <MudItem xs="8">
                                                    <MudTextField @bind-Value="TaxTotal"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>

                                        <!-- العربون -->
                                        <MudItem xs="12">
                                            <MudGrid AlignItems="Center">
                                                <MudItem xs="4" Class="d-flex ">
                                                    <MudText>العربون</MudText>
                                                </MudItem>
                                                <MudItem xs="8">
                                                    <MudTextField @bind-Value="Deposit"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>

                                        <!-- الاجمالي / الصافي -->
                                        <MudItem xs="12">
                                            <MudGrid AlignItems="Center">
                                                <MudItem xs="4" Class="d-flex ">
                                                    <MudText>الإجمالي / الصافي</MudText>
                                                </MudItem>
                                                <MudItem xs="8">
                                                    <MudPaper Class="pa-3 text-center"
                                                              Style="background-color:#2f6f78; color:white; font-weight:bold">
                                                        @NetTotal.ToString("0.00")
                                                    </MudPaper>
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>

                                        <!-- جبر الفاصلة -->
                                        <MudItem xs="12">
                                            <MudGrid AlignItems="Center">
                                                <MudItem xs="4" Class="d-flex ">
                                                    <MudText>جبر الفاصلة</MudText>
                                                </MudItem>
                                                <MudItem xs="8">
                                                    <MudPaper Class="pa-3 text-center"
                                                              Style="background-color:#66b2b2; color:white; font-weight:bold">
                                                        @Rounding.ToString("0.00")
                                                    </MudPaper>
                                                </MudItem>
                                            </MudGrid>
                                        </MudItem>

                                    </MudGrid>
                               

                             

                            </MudItem>
                            <MudItem md="4">
                                @* table *@
                                @if (forecasts == null)
                                {
                                    <p><em>Loading...</em></p>
                                }
                                else
                                {
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>تاريخ الفاتورة</th>
                                                <th aria-label="Temperature in Celsius">رقم الفاتورة</th>
                                                <th aria-label="Temperature in Fahrenheit">الكمية</th>
                                                <th>السعر</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                    
                                                <tr>
                                                    <td colspan="4">لا توجد بيانات</td>
                                                   


                                                </tr>
                                        </tbody>
                                    </table>
                                }
                            </MudItem>
                            <MudItem md="4">
                                <BlazoredTextEditor @ref="editor"   Placeholder="الملاحظات">
                                    <ToolbarContent>

                                        <!-- Font & Size -->
                                        <span class="ql-formats">
                                            <select class="ql-font"></select>
                                            <select class="ql-size"></select>
                                        </span>

                                        <!-- Text Style -->
                                        <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                            <button class="ql-strike"></button>
                                        </span>

                                        <!-- Color -->
                                        <span class="ql-formats">
                                            <select class="ql-color"></select>
                                            <select class="ql-background"></select>
                                        </span>

                                        <!-- Script -->
                                        <span class="ql-formats">
                                            <button class="ql-script" value="sub"></button>
                                            <button class="ql-script" value="super"></button>
                                        </span>

                                        <!-- Header -->
                                        <span class="ql-formats">
                                            <select class="ql-header">
                                                <option selected></option>
                                                <option value="1"></option>
                                                <option value="2"></option>
                                                <option value="3"></option>
                                            </select>
                                        </span>

                                        <!-- Block -->
                                        <span class="ql-formats">
                                            <button class="ql-blockquote"></button>
                                            <button class="ql-code-block"></button>
                                        </span>

                                        <!-- List -->
                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered"></button>
                                            <button class="ql-list" value="bullet"></button>
                                            <button class="ql-indent" value="-1"></button>
                                            <button class="ql-indent" value="+1"></button>
                                        </span>

                                        <!-- Alignment -->
                                        <span class="ql-formats">
                                            <select class="ql-align"></select>
                                        </span>

                                        <!-- Insert -->
                                        <span class="ql-formats">
                                            <button class="ql-link"></button>
                                            <button class="ql-image"></button>
                                            <button class="ql-video"></button>
                                        </span>

                                        <!-- Clean -->
                                        <span class="ql-formats">
                                            <button class="ql-clean"></button>
                                        </span>

                                    </ToolbarContent>
                                </BlazoredTextEditor>


                                @* <button @onclick="SaveHtml">Save</button> *@
                            </MudItem>
                        </MudGrid>
                        @* <BlazoredTextEditor @ref="editor">
        <ToolbarContent>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
            </span>
        </ToolbarContent>
    </BlazoredTextEditor> *@
</div>
                   


            </MudCardContent>
            <MudCardActions Class="w-30 d-flex justify-content-end align-items-center gap-2">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">تراجع F6</MudButton>
                    <MudAutocomplete T="string" Label="خيارات الطباعة" @bind-Value="value1" SearchFunc="@Search1"
                                     ResetValueOnEmptyText="@resetValueOnEmptyText"
                                     CoerceText="@coerceText" CoerceValue="@coerceValue" SelectValueOnTab="@selectedOnTab"
                                     />
                </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>



   

</EditForm>


@code {
        private BlazoredTextEditor editor;

        private async Task SaveHtml()
        {
            var html = await editor.GetHTML();
            Console.WriteLine(html);
        }
    
    RegisterAccountForm model = new RegisterAccountForm();
    bool success;

    public class RegisterAccountForm
    {
        [Required]
        [StringLength(8, ErrorMessage = "Name length can't be more than 8.")]
        public string Username { get; set; }

        [Required]
        [EmailAddress]
        public string Email { get; set; }

        [Required]
        [StringLength(30, ErrorMessage = "Password must be at least 8 characters long.", MinimumLength = 8)]
        public string Password { get; set; }

        [Required]
        [Compare(nameof(Password))]
        public string Password2 { get; set; }

    }

    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }

    private bool resetValueOnEmptyText;
    private bool coerceText;
    private bool coerceValue;
    private bool selectedOnTab;
    private string value1, value2;
    private string[] states =
    {
    "خيار اول",
    "خيار ثاني",
    "خيار ثالث",
    "خيار رابع",
    "خيار خامس"
    };

    private async Task<IEnumerable<string>> Search1(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return states;
        return states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> Search2(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, don't return values (drop-down will not open)
        if (string.IsNullOrEmpty(value))
            return new string[0];
        return states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
    private DateTime? _date = DateTime.Today;

    public bool Basic_CheckBox1 { get; set; } = true;
    public bool Basic_CheckBox2 { get; set; } = false;
    public bool Basic_CheckBox3 { get; set; } = false;
    public bool Basic_CheckBox4 { get; set; } = true;



  

    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "", "", "", "", "", "", "", "", "", "" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

        private decimal Total = 100;
        private decimal DiscountPercent = 0;
        private decimal DiscountValue = 0;
        private decimal OtherDiscountPercent = 0;
        private decimal OtherDiscountValue = 0;
        private decimal PreviousWallet = 0;
        private decimal TaxTotal = 15;
        private decimal Deposit = 0;

        private decimal NetTotal =>
        Total
        - DiscountValue
        - OtherDiscountValue
        - PreviousWallet
        + TaxTotal
        - Deposit;

        private decimal Rounding => 0;
}